Netrika.Test/Netrika.Test/Service References/NetrikaApi/PixService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionInfo" nillable="true" type="tns:VersionInfo" />
</xs:schema>