Netrika.Test/Netrika.Test/Service References/NetrikaApi/PixService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/N3.EMK.Dto.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfRequestFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestFault" nillable="true" type="tns:RequestFault" />
  <xs:complexType name="ArrayOfRequestFault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestFault" nillable="true" type="tns:RequestFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestFault" nillable="true" type="tns:ArrayOfRequestFault" />
</xs:schema>